# ==========================
# Node Modules
# ==========================
node_modules/

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Playwright Generated
# ==========================
playwright-report/
test-results/

# ==========================
# Framework Reports
# ==========================
reports/

# ==========================
# Framework Artifacts
# ==========================
artifacts/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db